<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081333616085-6ohcq3i0re54ucoprvg55cr5q00drd0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081333616085-6ohcq3i0re54ucoprvg55cr5q00drd0t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081333616085-kd54g7homshoiduf4k8ni8mfluc64ttv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnrW4xodsgEqHK60Bl-QSvoBx1bmKlm_U</string>
	<key>GCM_SENDER_ID</key>
	<string>1081333616085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThaiSweetHeart</string>
	<key>PROJECT_ID</key>
	<string>thai-sweetheart</string>
	<key>STORAGE_BUCKET</key>
	<string>thai-sweetheart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081333616085:ios:e3f8029f95d88b07df415c</string>
</dict>
</plist>