<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DiscoverStreaming.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
				<key>dateExpires</key>
				<string>04/03/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AudioIndicatorBars.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AutoCompletion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ESTMusicIndicator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Popover.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftToast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyMusic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DFBE6823621F61645FC9F1DCFAD9047FEF614C7</string>
						<key>dateExpires</key>
						<string>04/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7LFYHT3DD</string>
						<key>name</key>
						<string>Micheal Weaver</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H7LFYHT3DD.com.dssong.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.dssong.app</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>H7LFYHT3DD</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.dssong.app</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>H7LFYHT3DD.com.dssong.app</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>DiscoverStreaming.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7f30cf28-8326-4771-a8d2-f1880a8bc36e</string>
				<key>name</key>
				<string>ds_dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H7LFYHT3DD</string>
				<key>name</key>
				<string>Micheal Weaver</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
