<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThaiSweetHeart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
				<key>dateExpires</key>
				<string>03/02/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AutoCompletion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryList.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PopBounceButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YangMingShan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9C48688CDF54BA59F9D0F21783AECDFB7188EC0A</string>
						<key>dateExpires</key>
						<string>03/02/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3D9N3B78VP.com.ThaiSweetHeart</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3D9N3B78VP</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ThaiSweetHeart.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b889859c-fb62-419f-b18f-7bf88cd54ced</string>
				<key>name</key>
				<string>ThaiSweetHeartNew</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3D9N3B78VP</string>
				<key>name</key>
				<string>Tarun Nagar (Individual - tarun@devtechnosys.com)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
